body {
  text-align: center;
  background: url("https://previews.123rf.com/images/alexis84/alexis841604/alexis84160401565/54446041-waving-flag-of-bangladesh-and-usa.jpg");
  background-size: cover;
  background-position: center;
}